bin/
/.idea/
/CVS/
/training/.settings
CVS
target
rebel.xml

.settings
.classpath
.project
.svn
.mtj.tmp/
.idea/
.gradle/
.DS_Store

*.tmp
*.launch
*.lock
*.log.*
*.log
*.iml
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.ctxt
